@font-face {
 font-family: 'sofachrome';
 font-weight: normal;
 font-style: normal;
 src: url('fonts/sfc.ttf');
}

ul.nav a:hover { color: aqua !important; }

.parallax {
   
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cc{
 background-color:black;
}
