@font-face {
 font-family: 'sofachrome';
 font-weight: normal;
 font-style: normal;
 src: url('fonts/sfc.ttf');
}

@font-face {
 font-family: 'ans';
 font-weight: normal;
 font-style: normal;
 src: url('fonts/ans.ttf');
}






.parallax {
    min-height: 768px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




#vector_dark{
    max-width: 50%;
    height: auto;
}



            body {
                
                background-color: black;
            }
            



            .content1 {
                height: 768px;
                margin-top: 0px;
                background-color: black;
            }


            
            .about {
                width: 100%;
                margin: 0 auto;
                padding: 50px 0;
                transform-style: preserve-3d;
                transform: perspective(800px);
            }

            
           
            .about img {
                transition: all 1.2s ease 0.8s;
            }


            .about.hidden img {
                opacity: 0;
                transform: translate3d(0, 0, -100px) ;
            }



.about h1{
    transition: all 0.5s ease 0s;
}



 .about.hidden h1{
                opacity: 0;
                transform: translate3d(60px, 0, 0) ;
            }



.about p{
    transition: all 0.8s ease 1.4s;
}
 .about.hidden p{
                opacity: 0;
                transform: translate3d(-50px,0, 0) ;
            }
.left{
   
    background-color: black;
    color: #2f96ef;
    transition: all 0.15s ease-in;
   
}

.left:hover{
    background-color: #ff6a00;
    color:black;
     transition: all 0.25s ease-in;
}

.right:hover{
    background-color: #ff6a00;
    color:black;
     transition: all 0.25s ease-in;
}
.right{
   
    background-color: black;
    color: #2f96ef;
    transition: all 0.15s ease-in;
}





            nav li{
                padding: 5px;
                margin-left: 20px;
                color: white;
            }
             

        
        nav li{
            display: inline;
              background-color: black;
        }
        nav li a{
            margin-left: 5px;
            text-decoration: none;
            padding:10px 10px;
            font-family: sans-serif;
            font-size: 15px;
            transition: all 0.25s ease-in
        }
       
        nav li a:hover{
          font-size: 18px;
            color: aqua !important; 
            transition: all 0.25s ease-in;
            
        
        }
       
