@font-face {
 font-family: 'sofachrome';
 font-weight: normal;
 font-style: normal;
 src: url('fonts/sfc.ttf');
}


.parallax {
    min-height: 768px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#vector_dark{
    max-width: 100%;
    height: auto;
}

            body {
                
                background-color: black;
            }
            
            .content1 {
                height: 768px;
                margin-top: 0px;
                background-color: black;
            }
            
            .about {
                max-width: 600px;
                margin: 0 auto;
                padding: 100px 0;
                transform-style: preserve-3d;
                transform: perspective(800px);
            }
           
            .about img {
                transition: all 1s ease 0.25s;
            }
            .about.hidden img {
                opacity: 0;
                transform: translate3d(0, 0, -100px) ;
            }
            nav li{
                padding: 5px;
                margin-left: 20px;
                color: white;
            }
             
        
        
        nav li{
            display: inline;
              background-color: black;
        }
        nav li a{
            
            text-decoration: none;
            padding:5px 20px;
            font-family: sans-serif;
            font-size: 15px;
            transition: all 0.25s ease-in
        }
       
        nav li a:hover{
          font-size: 18px;
            color: aqua !important; 
            transition: all 0.25s ease-in;
            border: 0.5px solid aqua;
            border-radius: 25px;
        
        }
        .row{
            max-width: 1500px;
            margin: auto;
        }
