@font-face {
 font-family: 'sofachrome';
 font-weight: normal;
 font-style: normal;
 src: url('fonts/sfc.ttf');
}

ul.nav a:hover { color: aqua !important; }

.parallax {
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#vector_dark{
    max-width: 100%;
    height: auto;
}
